<div id="<%= dom_id comment %>">
  <% if comment.user.name.present? %>
    <p>
      <strong><%= User.human_attribute_name(:name) %>:</strong>
      <%= comment.user.name %>
    </p>
  <% else%>
    <p>
      <strong><%= User.human_attribute_name(:email) %>:</strong>
      <%= comment.user.email %>
    </p>
  <% end %>

  <p>
    <strong><%= Comment.human_attribute_name(:content) %>:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
    <%= l comment.created_at, format: :long %>
  </p>

  <p>
    <% if comment.user.id == current_user.id %>
      <%=button_to t('views.common.destroy', name: Comment.model_name.human.downcase), polymorphic_path([comment.commentable, comment]), method: :delete %>
    <% end %>
  </p>

  </br>
</div>
