<div id="<%= dom_id user %>">
  <p>
    <strong><%= t('activerecord.attributes.user.email') %></strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.user.post_code') %></strong>
    <%= user.post_code %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.user.address') %></strong>
    <%= user.address %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.user.introduction') %></strong>
    <%= user.introduction %>
  </p>

</div>
