<div id="<%= dom_id user %>">
  <p><%= User.human_attribute_name(:email) %>: <%= user.email %></p>
  <p><%= User.human_attribute_name(:zipcode) %>: <%= user.zipcode %></p>
  <p><%= User.human_attribute_name(:address) %>: <%= user.address %></p>
  <p><%= User.human_attribute_name(:profile) %>: <%= user.profile %></p>
</div>
