<div id="<%= dom_id user %>">
  <p>
    <strong>email</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>post_code</strong>
    <%= user.post_code %>
  </p>

  <p>
    <strong>address</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>introduction</strong>
    <%= user.introduction %>
  </p>

</div>

