<p style="color: green"><%= notice %></p>

<%= link_to t('views.common.title_index', name: Book.model_name.human), books_path %>|
<%= link_to t('views.common.edit_me'), edit_user_registration_path %>

<h1><%= t('views.common.title_index', name: User.model_name.human) %></h1>

<div id="users" class="index-users">
  <% @users.each do |user| %>
    <div class="index-user">
      <%= render user %>
      <p>
        <%= link_to t('views.common.show', name: User.model_name.human), user %>
      </p>
    </div>
  <% end %>
</div>

<%= paginate @users %>
