<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <%= link_to 'ユーザー一覧へ', users_path %>|
    <%= link_to 'マイプロフィール', user_path(current_user.id) %>
    <%= yield %>
  </body>
</html>
